{{ define "repo/fragments/diffOpts" }}
  {{ $active := "unified" }}
  {{ if .Split }}
    {{ $active = "split" }}
  {{ end }}

  {{ $unified := 
     (dict
       "Key" "unified"
       "Value" "unified"
       "Icon" "square-split-vertical"
       "Meta" "") }}
  {{ $split := 
     (dict
       "Key" "split"
       "Value" "split"
       "Icon" "square-split-horizontal"
       "Meta" "") }}
  {{ $values := list $unified $split }}

  {{ template "fragments/tabSelector" 
     (dict
       "Name" "diff"
       "Values" $values
       "Active" $active) }}
{{ end }}

