{{ define "repo/pipelines/fragments/tooltip" }}
  {{ $repoinfo := .RepoInfo }}
  {{ $pipeline := .Pipeline }}
  {{ $id := $pipeline.Id }}
  <div class="flex flex-col">
      {{ range $name, $all := $pipeline.Statuses }}
      <a href="/{{ $repoinfo.FullName }}/pipelines/{{ $id }}/workflow/{{ $name }}" class="hover:no-underline hover:bg-gray-100 dark:hover:bg-gray-800 transition-colors first:rounded-t last:rounded-b">
        <div class="flex items-center justify-between p-2">
          {{ $lastStatus := $all.Latest }}
          {{ $kind := $lastStatus.Status.String }}

          <div id="left" class="flex items-center gap-2 flex-shrink-0">
            {{ template "repo/pipelines/fragments/workflowSymbol" $all }}
            {{ $name }}
          </div>
          <div id="right" class="flex items-center gap-2 flex-shrink-0">
            <span class="font-bold">{{ $kind }}</span>
            {{ if .TimeTaken }}
            {{ template "repo/fragments/duration" .TimeTaken }}
            {{ else }}
            {{ template "repo/fragments/shortTimeAgo" $pipeline.Created }}
            {{ end }}
          </div>
        </div>
      </a>
      {{ else }}
      <div class="flex items-center gap-2 p-2 italic text-gray-600 dark:text-gray-400 ">
        {{ i "hourglass" "size-4" }}
        Waiting for spindle ...
      </div>
      {{ end }}
  </div>
{{ end }}
